$position: 25px;

.container{
  &.home{
    padding-bottom: 15px;
    .card-podcast{
      position: relative;
      margin-top: $position;

      .img-podcast{
        transition: 500ms;
        width: 100%;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-left: auto;
        margin-right: auto;
        //opacity: 4;
        
        @media (max-width:768px) {
          width: 100%;
          height: 170px;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }

      }
      .podcast-name{
        @include title(bowlby, 16px, $primary);
        text-align: left;
        font-weight: 900;
        position: absolute;
        top: 230px;
        z-index: 100;
        padding-left: 30px;
        padding-right: 50px;
        text-shadow: 2px 2px 2px #000;

        @media (max-width: 768px){
          padding-left: 5px;
          font-size: 8px;
          top: 130px;
        }
      }
      .podcast-title{
        @include title(bowlby, 16px, #FFF);
        text-align: left;
        font-weight: 900;
        position: absolute;
        top: 250px;
        z-index: 100;
        padding-left: 30px;
        padding-right: 50px;
        text-shadow: 1px 1px 1px #000;
        @media (max-width: 768px){
          padding-left: 5px;
          font-size: 8px;
          top: 140px;
        }
      }

      /* Estilo do player */
    .powerpress_player{
      a:nth-child(2){
        display: none;
      }
    }
    .powerpress_links{
      display: none;
    }

  /* Estilo dos botões do Player */
  .content-powerpress-meta {
      z-index: 100;
      width: 100%;
      height: -40px;

      @media screen and (max-width:768px) {
          width: 100%;
          text-align: center;
          position: relative;
          margin-right: auto;
          margin-left: auto;
      }
      span.player-buttons {
        width:33.3346%;
        float:left;
        text-align:center;

      }
      span.player-buttons a.download,span.player-buttons.time>i.icon-time {
        padding:10px 0;
        display:block;
        font-size:16.5px;
        color:#fff
      }
      i.icon-rss {
        margin-right:2px
      }
      .btn-baixar {
        background:#800;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 10px;

        @media screen and (max-width:768px) {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 10px;
        }
      }
      .btn-play {
        background:#ac1911;
      }
      .btn-share {
        background:#d95500;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;

        @media screen and (max-width:768px) {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 10px;
        }
      }
      .share-block{
        background: lighten(#d95500, 10%);
        position: absolute;
        z-index: 200;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        width:33.3346%;
        float:left;
        text-align:center;
        color:#fff;
        display: none;
      }
      .share-strong{
        @media (max-width:768px) {
          font-size: 14px;
      }
      }
      .share-title{
        margin-left: 10px; 
        margin-right: 10px; 
        margin-bottom: 5px; 
        text-align:left;

        @media (max-width:768px) {
            font-size: 12px;
        }
      }
      .share-links{
        margin: 5px;
        a{
          color:#fff; 
          margin: 10px;

          @media (max-width:768px) {
            margin: 7px;
          }

          i{
            font-size: 18px;

            @media (max-width:768px) {
              font-size: 14px;
            }
          }
        }
      }
      @media (min-width:769px) and (max-width:1024px) {
        a.download i {
          font-size:17px
        }
        a.download {
          font-size:0!important
        }
      }
      @media (max-width:768px) {
        a.download i {
          font-size:12px
        }
        a.download {
          font-size:0!important
        }
      }
    }

    /* Estilo dos ícones */
    @font-face {
      font-family:'fontello';
      src:url(/fonts/fontello.eot);
      src:url(/fonts/fontello.eot?#iefix) format("embedded-opentype"),url(/fonts/fontello.woff2) format("woff2"),url(/fonts/fontello.woff) format("woff"),url(/fonts/fontello.ttf) format("truetype"),url(/fonts/fontello.svg#fontello) format("svg");
      font-weight:400;
      font-style:normal
    }
    [class*=" icon-"]:before,[class^=icon-]:before {
      font-family:fontello;
      font-style:normal;
      font-weight:400;
      display:inline-block;
      text-decoration:inherit;
      width:1em;
      margin-right:.2em;
      text-align:center;
      font-variant:normal;
      text-transform:none;
      line-height:1em;
      margin-left:.2em;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale
    }
    .icon-mp3:before { content: '\e800'; }
    .icon-feed:before { content: '\f09e'; }
    .icon-zip:before { content: '\f1c6'; }
  }/*fim card-podcast*/
}/* Fim home*/
}/* Fim container*/

.player{
  display: none;
  background-image: linear-gradient(17deg, #31332e 5%, #192711) ;
  position: fixed;
  z-index: 500;
  bottom: 0px;
  margin-top: 25px;

  .desktop{
    display: flex;
    @media screen and (max-width:768px) {
      display: none;
    }
  }
  .mobile{
    display: none;
    @media screen and (max-width:768px) {
      display: flex;
    }
  }

  .podcast_player_wrapper{
    padding: 5px;
    position: relative;
    display: flex;

    .fa-pulse{
      color: #FFF;
      font-size: 25px;
    }
  
    .box-buttons{
      padding: 10px;
      padding-left: 30px;
      margin-top:5px;
      width: 8%;
      @media screen and (max-width:768px) {
        padding: 2px;
        margin-top:0px;
        float: left;
      }
      .podcast_btn{
        padding: 5px;
        cursor: pointer;
        font-family:tahoma,arial,helvetica;
        font-size:18px;
        z-index: 600;
        color: rgb(255, 255, 255);

        @media screen and (max-width:768px) {
          font-size: 12px;
          padding: 2px;
        }
       }
    }
    .box-progress{
      display: grid;
      padding:10px;
      padding-left: 30px;
      margin-top:5px;
      width: 82%;

      @media screen and (max-width:768px) {
        padding: 2px;
        width: 100%;
      }
      .progress {
        padding:0;
        width:100%;
        overflow:hidden;
        justify-self: center;
      
        
        .rangeslider{
          height: 100%;
          background:#c5c2c2;
          -webkit-border-radius: unset;
          -moz-border-radius: unset;
          border-radius: unset;
          z-index: 550;
      
          @media screen and (max-width:768px) {
            width: 100%;
          }
        
          @media (max-width:576px) {
            font-size:12px;
            width: 100%;
          }
        }
        .rangeslider__handle{
          top:0;
          height: 100%;
          width: 20px;
          background: #7ec323;
          border-radius: 10px;
          -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
          -moz-border-radius: 15%;
          -webkit-border-radius: 15%;
          border-radius: 15%;
          background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(56, 168, 28, 0.13)));
          background-image: -moz-linear-gradient(rgba(56, 168, 28, 0.13), rgba(56, 168, 28, 0.13));
          background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(56, 168, 28, 0.13));
          background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(56, 168, 28, 0.13));
        }
        .rangeslider__handle::after{
          width: 0;
        }
      
        .rangeslider__fill{
          height: 100%;
          background: $primary;
          border-radius: unset;
        }
        .rangeslider__horizontal{
          height: unset;
        }
      }
      .podcast_name{
        margin: unset !important;
        float:left;
        font-size:14px;
        color: rgb(255, 255, 255);
    
        @media screen and (max-width:768px) {
          font-size: 10px;
        }
      }
    }

    .timer{
      padding:10px;
      padding-left: 20px;
      font-family:tahoma,arial,helvetica;
      font-size:14px;
      z-index: 600;
      color: rgb(255, 255, 255);

      @media screen and (max-width:768px) {
        font-size: 10px;
        padding: 2px;
        justify-self: self-end;
      }
    }
  
    .btn-close{
      right: 0;
      top: 5px;
      color: white;
    
      @media screen and (max-width:768px) {
        font-size:9px;
        padding:0px;
      }

    }
    
    .btn-close:hover{
      color: #76bc1c;
    }
  }
  
}
